h1 {
    font-size: 4em;
}

h1,
h4 {
    font-family: 'Vina Sans', sans-serif;
}

main {
    background-image: url(./image/logo.jpg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}


thead th {
    padding: 0 10px !important;
    background-color: #e67a0e !important;
    font-family: 'Vina Sans', sans-serif;
    font-size: 1.1em;
}

td:not(td:nth-child(2)) {
    opacity: 0.8;
}

tr>td {
    width: 100%;
}


td:nth-child(even) {
    text-align: center;
    background-color: #e67a0e;
    font-weight: bold;
}

ul {
    list-style: none;
    padding-left: 0.5em;
}

li::before {
    content: "⚙ ";
    font-weight: bold !important;
    color: #e67a0e;
}

@media (max-width: 991px) {
    main {
        background-attachment: fixed;
    }
}